:root{
    --body-color: #0D0D0D; 
    --text-color: #FFFFFF;
    --boxes-color: #54B3A1;
    --cookies-box-color: #000000;
    --button-color-hover: #D94016;
    --button-color: #f34213;
    --text-font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

    /* Section-1 */

    body{
        display:flex;
        flex-direction: column;
        /* height: 400px; */
        margin: 0;
    }

        .first-section{
            display:flex;
            flex-direction: column;
            position:relative;
            background-image: url("../Img/home-bckgrnd.png");
            background-size:cover;
            background-color: var(--boxes-color);
            width:auto;
           height: auto;
        }

        .box-one{
            display: block;
            max-width: 728px;
            max-height:388px;
            background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(255,255,255,0));
            margin: 12vh 26vh 55vh 26vh;

        }

        .first-section .text{
            position: relative;
            font-size: 100px;
            color: white;
            font-family: var(--text-font-family);
            text-transform: uppercase;
            padding: 40px 0px 0px 40px;
            width: 100%;
            letter-spacing: -2px;
        }


        /* ----------------- */

        span{
            position:relative;
            display:inline-block;
            z-index:1;
        }

        span::before{
            position:absolute;
            content:'';
            background-color: var(--boxes-color);
            top:30px;
            bottom:30px;
            left:10px;
            right:-50px;
            z-index: -1;
        }

        .first-section button{
            position:relative;
            width: auto;
            height: 50px;
            padding: 0px 30px 0px 30px;
            background-color: var(--button-color);
            color: var(--text-color);
            text-transform: uppercase;
            font-family: var(--text-font-family);
            letter-spacing: 1.5px;
            border-radius: 25px;
            margin: 0 0 30px 40px;
        }

        .first-section button:hover{
            background-color: var(--button-color-hover);
        }

        .middle-blue-column{
            width: 30px;
            height: 70px;
            background-color: var(--boxes-color);
            position:absolute;
            align-self: center;
            bottom:0;
        }

            /* Mai jos am facut sagetile de pe prima pagina  */

                .first-section .arrow-right{
                    position: absolute;
                    border: 5px solid white;
                    width: 15px;
                    height:15px;
                    right:50px;
                    transform: rotate(45deg);
                    color: white;
                    border-color: white white transparent transparent ;
                    border-radius: 50% 0 50% 0;
                }
                .first-section .arrow-right > div{
                    display:flex;
                    position: absolute;
                    align-self: center;
                    
                    transform: rotate(45deg);
                    height: 0;
                    width: 100%;
                    left: -5px;
                    bottom: 2.5px;
                    border: 5px solid white;
                    border-color: transparent white white white;
                    border-radius: 50% 50% 0 0;
                }

                .first-section .arrow-right:hover{
                    border-color: var(--boxes-color) var(--boxes-color) transparent transparent;
                }

                .first-section .arrow-right:hover > div{
                    border-color: transparent var(--boxes-color) var(--boxes-color) var(--boxes-color);
                }


                /* Sageata din stanga */

                .first-section .arrow-left{
                    display:flex;
                    position: absolute;
                    border: 5px solid white;
                    width: 15px;
                    height:15px;
                    left:50px;
                    transform: rotate(45deg);
                    color: white;
                    border-color:  transparent transparent white white ;
                    border-radius: 50% 0 50% 0;
                }
                .first-section .arrow-left > div{
                    display:flex;
                    position: absolute;
                    align-self: center;
                    
                    transform: rotate(45deg);
                    height: 0;
                    width: 100%;
                    right: -5px;
                    top: 2.5px;
                    border: 5px solid white;
                    border-color: white white  transparent  white;
                    border-radius: 0 0 50% 50%;
                }

                .first-section .arrow-left:hover{
                    border-color:  transparent transparent var(--boxes-color) var(--boxes-color);
                }

                .first-section .arrow-left:hover > div{
                    border-color:  var(--boxes-color)  var(--boxes-color) transparent var(--boxes-color) ;
                }


        /* Liniutele de pe prima pagina, care indica pe care fotografie te afli */
        .first-section .bottom-animated-lines{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            display:relative;
            margin-top:-200px;
            margin-bottom: 200px;
        }

        .first-section .bottom-animated-lines > div{
            border: 2px solid white;
            width: 32px;
            background-color: white;
           
        }

        .first-section .bottom-animated-lines > div:nth-child(2){
            transform: rotate(-45deg);
            background-color: var(--boxes-color);
            border-color: var(--boxes-color);
        }



        /* Section-2 */

        .second-section{
            position:relative;
            display:flex;
            background-color: var(--boxes-color);
            color:var(--text-color);
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin:-1px;
        }


        .second-section .box-two{
            display: flex;
            flex-direction: column;
            position:relative;
        }

        .second-section .text{
            font-size: 50px;
            max-width: 1100px;
            margin: 200px 0 60px 0;;
            font-family: var(--text-font-family);
            text-align:center;
        }

        .second-section .icons{
            align-self: center;
            justify-content: center;
            margin-bottom: 130px;
        }

        .second-section .icons > *{
            display:flex;
            border: 1px solid white;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
        }

        .second-section .middle-blue-column-2{
            position:relative;
            width: 30px;
            height: 100px;
            background-color:var(--boxes-color);
            align-self: center;
            bottom:-60px;
            z-index: 11;
        }

        

        .second-section::after{
            content:'';
            width:0;
            height:0px;
            right:0;
            bottom:0;
            left:0px;
            position:absolute;
            border-left: 3000px solid transparent;
            border-bottom: 100px solid black;
        }

        /* Third-section */

        .third-section{
            display:flex;
            position:relative;
            background-color: black;
            color:white;
            justify-content: center;
            text-align: center;
            font-family: var(--text-font-family);
            margin: -1px;
        }

        .box-three{
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .box-three .title{
            position:relative;
            margin-top:50px;
            width: fit-content;
        }

        .title img{
            margin: 0;
        }

        .title .beverages{
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-size: 15px;
            margin-top:1.5rem;
            margin-bottom: 0.4rem;
        }

        .title .product, .title .range{
            font-size: 57px;
        }

        .title .drinks{
            letter-spacing: 1.5px;
            font-size: 15px;
            text-transform: uppercase;
        }

        .title .cubs-plus-text{
            position:relative;
            display:flex;
            flex-direction: column;
            justify-content: center;
        }

            /* Rama titlului din sectiune */
            /* Reama din stanga */
                .title .first-cub{
                    position: absolute;
                    height: 50%;
                    width:0;
                    left: -4.5rem;
                    border: 2px white solid;
                    background-color: white;
                }

                .title .first-cub::before{
                    content:'';
                    background-color: white;
                    width: 3rem;
                    height:0.2em;
                    position:absolute;
                    top:-0.2em;
                }
                
                .title .first-cub::after{
                    content:'';
                    background-color: white;
                    width: 5rem;
                    height:0.2em;
                    position:absolute;
                    bottom:-0.2em;
                }

                /* Rama din dreapta */

                .title .second-cub{
                    position: absolute;
                    height: 50%;
                    width:0;
                    right: -4.5rem;
                    border: 2px white solid;
                    background-color: white;
                    transform: rotate(180deg);
                    transform: rotateY(180deg);
                }

                .title .second-cub::before{
                    content:'';
                    background-color: white;
                    width: 3rem;
                    height:0.2em;
                    position:absolute;
                    top:-0.2em;
                }
                
                .title .second-cub::after{
                    content:'';
                    background-color: white;
                    width: 5rem;
                    height:0.2em;
                    position:absolute;
                    bottom:-0.2em;
                }

            .box-three .images{
                display: flex;
                flex-wrap: wrap;
                margin: 7rem 20rem 0 20rem;
                gap: 30px;
                width:auto;
                
            }


            .box-three .images > div{
                position: relative;
                display:flex;
                font-size:32px;
                background-size:cover;
                width: 300px;
                height: 180px;
                align-items: flex-end;
                transition: 0.3s;
                overflow: hidden;
            } 
            
            
            
            .box-three .images > div span{
                left:1em;
                transition: all 0.3s;
                
            }

            .box-three .images > div:hover span{
                margin-bottom: 20px;
                color:var(--boxes-color);
            }

                /* De aici animez prima imagine */
                    .box-three .images > div:nth-child(1){
                        background-size: cover;
                        background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/baiju2x.png');
                    }

                    .box-three .images > div:nth-child(1)::before{
                        position: absolute;
                        width:100%;
                        height: 100%;
                        background-size: cover;
                        content: '';
                        transition: 0.3s, opacity 0.3s, visibility 0.3s;
                        opacity: 0;
                        visibility: hidden;
                    
                    }
                    .box-three .images > div:nth-child(1):hover::before{
                        background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0.6), rgba(255,255,255,0)),url('../Img/baiju2x.png');
                        transform: scale(1.1);
                        opacity: 1;
                        visibility: visible;
                    }
                    

                    .box-three .images > div:nth-child(1):not(:hover)::before{
                        background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/baiju2x.png');
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s, opacity 5s, visibility 0.3s;
                    }

                /* Pana aici animez prima imagine */

            .box-three .images > div:nth-child(2)::before{
                position: absolute;
                width:100%;
                height: 100%;
                background-size: cover;
                content: '';
                transition: 0.3s;
                background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/rum.png');
            }
            .box-three .images > div:nth-child(2):hover::before{
                transform: scale(1.1);
            }

            .box-three .images > div:nth-child(3)::before{
                position: absolute;
                width:100%;
                height: 100%;
                background-size: cover;
                content: '';
                transition: 0.3s;
                background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/whiskey.png');
            }
            .box-three .images > div:nth-child(3):hover::before{
                transform: scale(1.1);
            }
            
            .box-three .images > div:nth-child(4)::before{
                position: absolute;
                width:100%;
                height: 100%;
                background-size: cover;
                content: '';
                transition: 0.3s;
                background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/gin.png');
            }
            .box-three .images > div:nth-child(4):hover::before{
                transform: scale(1.1);
            }
            
            .box-three .images > div:nth-child(5)::before{
                position: absolute;
                width:100%;
                height: 100%;
                background-size: cover;
                content: '';
                transition: 0.3s;
                background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/vodka.png');
            }
            .box-three .images > div:nth-child(5):hover::before{
                transform: scale(1.1);
            }

            .box-three .images > div:nth-child(6)::before{
                position: absolute;
                width:100%;
                height: 100%;
                background-size: cover;
                content: '';
                transition: 0.3s;
                background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/liquor.png');
            }
            .box-three .images > div:nth-child(6):hover::before{
                transform: scale(1.1);
            }

            .box-three .images > div:nth-child(7)::before{
                position: absolute;
                width:100%;
                height: 100%;
                background-size: cover;
                content: '';
                transition: 0.3s;
                background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/bitter.png');
            }
            .box-three .images > div:nth-child(7):hover::before{
                transform: scale(1.1);
            }


        /* FOOTER */

        footer{
            position:relative;
            bottom:0;
        }