:root{
    --body-color: #0D0D0D; 
    --text-color: #FFFFFF;
    --boxes-color: #54B3A1;
    --cookies-box-color: #000000;
    --button-color-hover: #D94016;
    --button-color: #f34213;
    --text-font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

    /* Section-1 */

    body{
        display:flex;
        flex-direction: column;
        font-family: var(--text-font-family);
        margin: 0;
    }

        .first-section{
            display:flex;
            flex-direction: column;
            position:relative;
            background-image: url("../Img/home-bckgrnd.png");
            background-size:cover;
            background-color: var(--boxes-color);
            width:auto;
           height: auto;
        }

        .box-one{
            display: block;
            max-width: 728px;
            max-height:388px;
            background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(255,255,255,0));
            margin: 12vh 26vh 55vh 26vh;

        }

        .first-section .text{
            position: relative;
            font-size: 100px;
            color: white;
            font-family: var(--text-font-family);
            text-transform: uppercase;
            padding: 40px 0px 0px 40px;
            width: 100%;
            letter-spacing: -2px;
        }


        /* ----------------- */

        span{
            position:relative;
            display:inline-block;
            z-index:1;
        }

        span::before{
            position:absolute;
            content:'';
            background-color: var(--boxes-color);
            top:30px;
            bottom:30px;
            left:10px;
            right:-50px;
            z-index: -1;
        }

        .first-section button{
            position:relative;
            width: auto;
            height: 50px;
            padding: 0px 30px 0px 30px;
            background-color: var(--button-color);
            color: var(--text-color);
            text-transform: uppercase;
            font-family: var(--text-font-family);
            letter-spacing: 1.5px;
            border-radius: 25px;
            margin: 0 0 30px 40px;
        }

        .first-section button:hover{
            background-color: var(--button-color-hover);
        }

        .middle-blue-column{
            width: 30px;
            height: 100px;
            background-color: var(--boxes-color);
            position:absolute;
            align-self: center;
            bottom:-50px;
            z-index: 20;
        }

            /* Mai jos am facut sagetile de pe prima pagina  */

                .first-section .arrow-right{
                    position: absolute;
                    border: 5px solid white;
                    width: 15px;
                    height:15px;
                    right:50px;
                    transform: rotate(45deg);
                    color: white;
                    border-color: white white transparent transparent ;
                    border-radius: 50% 0 50% 0;
                }
                .first-section .arrow-right > div{
                    display:flex;
                    position: absolute;
                    align-self: center;
                    
                    transform: rotate(45deg);
                    height: 0;
                    width: 100%;
                    left: -5px;
                    bottom: 2.5px;
                    border: 5px solid white;
                    border-color: transparent white white white;
                    border-radius: 50% 50% 0 0;
                }

                .first-section .arrow-right:hover{
                    border-color: var(--boxes-color) var(--boxes-color) transparent transparent;
                }

                .first-section .arrow-right:hover > div{
                    border-color: transparent var(--boxes-color) var(--boxes-color) var(--boxes-color);
                }


                /* Sageata din stanga */

                .first-section .arrow-left{
                    display:flex;
                    position: absolute;
                    border: 5px solid white;
                    width: 15px;
                    height:15px;
                    left:50px;
                    transform: rotate(45deg);
                    color: white;
                    border-color:  transparent transparent white white ;
                    border-radius: 50% 0 50% 0;
                }
                .first-section .arrow-left > div{
                    display:flex;
                    position: absolute;
                    align-self: center;
                    
                    transform: rotate(45deg);
                    height: 0;
                    width: 100%;
                    right: -5px;
                    top: 2.5px;
                    border: 5px solid white;
                    border-color: white white  transparent  white;
                    border-radius: 0 0 50% 50%;
                }

                .first-section .arrow-left:hover{
                    border-color:  transparent transparent var(--boxes-color) var(--boxes-color);
                }

                .first-section .arrow-left:hover > div{
                    border-color:  var(--boxes-color)  var(--boxes-color) transparent var(--boxes-color) ;
                }


        /* Liniutele de pe prima pagina, care indica pe care fotografie te afli */
        .first-section .bottom-animated-lines{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            display:relative;
            margin-top:-200px;
            margin-bottom: 200px;
        }

        .first-section .bottom-animated-lines > div{
            border: 2px solid white;
            width: 32px;
            background-color: white;
           
        }

        .first-section .bottom-animated-lines > div:nth-child(2){
            transform: rotate(-45deg);
            background-color: var(--boxes-color);
            border-color: var(--boxes-color);
        }



        /* Section-2 */

        .second-section{
            position:relative;
            display:flex;
            background-color: var(--boxes-color);
            color:var(--text-color);
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin:-1px;
        }


        .second-section .box-two{
            display: flex;
            flex-direction: column;
            position:relative;
        }

        .second-section .text{
            font-size: 50px;
            max-width: 1100px;
            margin: 200px 0 60px 0;;
            font-family: var(--text-font-family);
            text-align:center;
        }

        .second-section .icons{
            align-self: center;
            justify-content: center;
            margin-bottom: 130px;
        }

        .second-section .icons > *{
            display:flex;
            border: 1px solid white;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
        }

        .second-section .middle-blue-column-2{
            position:relative;
            width: 30px;
            height: 200px;
            background-color:var(--boxes-color);
            align-self: center;
            bottom: -150px;
            z-index: 11;
        }

        

        .second-section::after{
            content:'';
            width:0;
            height:0px;
            right:0;
            bottom:0;
            left:0px;
            position:absolute;
            border-left: 3000px solid transparent;
            border-bottom: 100px solid black;
        }

        /* Third-section */

        .third-section{
            display:flex;
            position:relative;
            background-color: var(--body-color);
            color:white;
            justify-content: center;
            text-align: center;
            font-family: var(--text-font-family);
            margin: -1px;
        }

        .box-three{
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .box-three .title{
            position:relative;
            margin-top:8rem;
            width: fit-content;
        }

        .title img{
            margin: 0;
        }

        .title .beverages{
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-size: 15px;
            margin-top:1.5rem;
            margin-bottom: 0.4rem;
        }

        .title .product, .title .range{
            font-size: 57px;
        }

        .title .drinks{
            letter-spacing: 1.5px;
            font-size: 15px;
            text-transform: uppercase;
        }

        .title .cubs-plus-text{
            position:relative;
            display:flex;
            flex-direction: column;
            justify-content: center;
        }

            /* Rama titlului din sectiune */
            /* Reama din stanga */
                .title .first-cub{
                    position: absolute;
                    height: 50%;
                    width:0;
                    left: -4.5rem;
                    border: 2px white solid;
                    background-color: white;
                }

                .title .first-cub::before{
                    content:'';
                    background-color: white;
                    width: 3rem;
                    height:0.2em;
                    position:absolute;
                    top:-0.2em;
                }
                
                .title .first-cub::after{
                    content:'';
                    background-color: white;
                    width: 5rem;
                    height:0.2em;
                    position:absolute;
                    bottom:-0.2em;
                }

                /* Rama din dreapta */

                .title .second-cub{
                    position: absolute;
                    height: 50%;
                    width:0;
                    right: -4.5rem;
                    border: 2px white solid;
                    background-color: white;
                    transform: rotate(180deg);
                    transform: rotateY(180deg);
                }

                .title .second-cub::before{
                    content:'';
                    background-color: white;
                    width: 3rem;
                    height:0.2em;
                    position:absolute;
                    top:-0.2em;
                }
                
                .title .second-cub::after{
                    content:'';
                    background-color: white;
                    width: 5rem;
                    height:0.2em;
                    position:absolute;
                    bottom:-0.2em;
                }

            .box-three .images{
                display:flex;
                flex-wrap: wrap;
                margin: 8rem 20rem 0 20rem;
                gap: 30px;
                object-fit: contain;
                padding: 0;
                
                
            }


            .box-three .images > div{
                position: relative;
                display:flex;
                font-size:32px;
                background-size:cover;
                width: 300px;
                height: 180px;
                align-items: flex-end;
                transition: 0.3s;
                overflow: hidden;
            } 
            
            
            
            .box-three .images > div span{
                left:1em;
                transition: all 0.3s;
                
            }

            .box-three .images > div:hover span{
                margin-bottom: 20px;
                color:var(--boxes-color);
            }

                /* De aici animez prima imagine */
                    .box-three .images > div:nth-child(1){
                        background-size: cover;
                        background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/baiju2x.png');
                        
                    }

                    .box-three .images > div:nth-child(1)::before{
                        position: absolute;
                        width:100%;
                        height: 100%;
                        background-size: cover;
                        content: '';
                        transition: 0.3s, opacity 0.3s, visibility 0.3s;
                        opacity: 0;
                        visibility: hidden;
                    
                    }
                    .box-three .images > div:nth-child(1):hover::before{
                        background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0.7), rgba(255,255,255,0)),url('../Img/baiju2x.png');
                        transform: scale(1.1);
                        opacity: 1;
                        visibility: visible;
                    }
                    

                    .box-three .images > div:nth-child(1):not(:hover)::before{
                        background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/baiju2x.png');
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s, opacity 0.3s, visibility 0.3s;
                    }

                /* Pana aici animez prima imagine */

                    /* Imaginea 2 */
                .box-three .images > div:nth-child(2){
                    background-size: cover;
                    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/rum.png');
                }

                .box-three .images > div:nth-child(2)::before{
                    position: absolute;
                    width:100%;
                    height: 100%;
                    background-size: cover;
                    content: '';
                    transition: 0.3s, opacity 0.3s, visibility 0.3s;
                    opacity: 0;
                    visibility: hidden;
                
                }
                .box-three .images > div:nth-child(2):hover::before{
                    background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0.7), rgba(255,255,255,0)),url('../Img/rum.png');
                    transform: scale(1.1);
                    opacity: 1;
                    visibility: visible;
                }
                

                .box-three .images > div:nth-child(2):not(:hover)::before{
                    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/rum.png');
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s, opacity 0.3s, visibility 0.3s;
                }

                /* Imaginea 3 */
                .box-three .images > div:nth-child(3){
                    background-size: cover;
                    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/whiskey.png');
                }

                .box-three .images > div:nth-child(3)::before{
                    position: absolute;
                    width:100%;
                    height: 100%;
                    background-size: cover;
                    content: '';
                    transition: 0.3s, opacity 0.3s, visibility 0.3s;
                    opacity: 0;
                    visibility: hidden;
                
                }
                .box-three .images > div:nth-child(3):hover::before{
                    background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0.7), rgba(255,255,255,0)),url('../Img/whiskey.png');
                    transform: scale(1.1);
                    opacity: 1;
                    visibility: visible;
                }
                

                .box-three .images > div:nth-child(3):not(:hover)::before{
                    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/whiskey.png');
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s, opacity 0.3s, visibility 0.3s;
                }

                /* Imaginea 4 */
                .box-three .images > div:nth-child(4){
                    background-size: cover;
                    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/gin.png');
                }

                .box-three .images > div:nth-child(4)::before{
                    position: absolute;
                    width:100%;
                    height: 100%;
                    background-size: cover;
                    content: '';
                    transition: 0.3s, opacity 0.3s, visibility 0.3s;
                    opacity: 0;
                    visibility: hidden;
                
                }
                .box-three .images > div:nth-child(4):hover::before{
                    background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0.7), rgba(255,255,255,0)),url('../Img/gin.png');
                    transform: scale(1.1);
                    opacity: 1;
                    visibility: visible;
                }
                

                .box-three .images > div:nth-child(4):not(:hover)::before{
                    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/gin.png');
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s, opacity 0.3s, visibility 0.3s;
                }

                /* imaginea 5 */
                .box-three .images > div:nth-child(5){
                    background-size: cover;
                    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/vodka.png');
                }

                .box-three .images > div:nth-child(5)::before{
                    position: absolute;
                    width:100%;
                    height: 100%;
                    background-size: cover;
                    content: '';
                    transition: 0.3s, opacity 0.3s, visibility 0.3s;
                    opacity: 0;
                    visibility: hidden;
                
                }
                .box-three .images > div:nth-child(5):hover::before{
                    background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0.7), rgba(255,255,255,0)),url('../Img/vodka.png');
                    transform: scale(1.1);
                    opacity: 1;
                    visibility: visible;
                }
                

                .box-three .images > div:nth-child(5):not(:hover)::before{
                    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/vodka.png');
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s, opacity 0.3s, visibility 0.3s;
                }

                /* Imaginea 6 */
                .box-three .images > div:nth-child(6){
                    background-size: cover;
                    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/liquor.png');
                }

                .box-three .images > div:nth-child(6)::before{
                    position: absolute;
                    width:100%;
                    height: 100%;
                    background-size: cover;
                    content: '';
                    transition: 0.3s, opacity 0.3s, visibility 0.3s;
                    opacity: 0;
                    visibility: hidden;
                
                }
                .box-three .images > div:nth-child(6):hover::before{
                    background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0.7), rgba(255,255,255,0)),url('../Img/liquor.png');
                    transform: scale(1.1);
                    opacity: 1;
                    visibility: visible;
                }
                

                .box-three .images > div:nth-child(6):not(:hover)::before{
                    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/liquor.png');
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s, opacity 0.3s, visibility 0.3s;
                }
                
                /* Imaginea 7 BITTER */
                .box-three .images > div:nth-child(7){
                    background-size: cover;
                    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/bitter.png');
                }

                .box-three .images > div:nth-child(7)::before{
                    position: absolute;
                    width:100%;
                    height: 100%;
                    background-size: cover;
                    content: '';
                    transition: 0.3s, opacity 0.3s, visibility 0.3s;
                    opacity: 0;
                    visibility: hidden;
                
                }
                .box-three .images > div:nth-child(7):hover::before{
                    background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0.7), rgba(255,255,255,0)),url('../Img/bitter.png');
                    transform: scale(1.1);
                    opacity: 1;
                    visibility: visible;
                }
                

                .box-three .images > div:nth-child(7):not(:hover)::before{
                    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(255,255,255,0)),url('../Img/bitter.png');
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s, opacity 0.3s, visibility 0.3s;
                }

            /* NEWS */
            .middle-blue-column-3{
                position:relative;
                width: 30px;
                height: 100px;
                background-color:var(--boxes-color);
                align-self: center;
                bottom: -50px;
                margin-top: 150px;
            }

            /* NEWS section */
            .new-articles{
                display:flex;
                position:relative;
                background-color: var(--body-color);
                color:white;
                justify-content: center;
                text-align: center;
                font-family: var(--text-font-family);
                margin: -1px;
                flex-wrap: wrap;
                gap:30px;
                padding-top: 8rem;
            }

            .new-articles > div{
                display: flex;
                flex-direction: column;
                position: relative;
                width: 400px;
                height: 490px;
                background-image: linear-gradient(to top,rgba(0,0,0,0) 0% 44%, rgba(0,0,0,0.9) 44%,rgba(0,0,0,0.6),rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0)),url("../Img/whisky-bomb.png");
                background-repeat: no-repeat;
                background-color: white;
                align-items:flex-start;
                justify-content: center;
                font-size: 18px;
                overflow: hidden;
            }

            .new-articles > div > div:nth-child(1){
                position: absolute;
                width: 100%;
                height:55%;
                top:0;
                background-image: linear-gradient(to top,rgba(0,0,0,0.9),rgba(0,0,0,0.6),rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0)),url("../Img/whisky-bomb.png");
                visibility: hidden;
                transition: 0.3s;
            }

            .new-articles > div span{
                position:relative;
                left: 2em;
                top:5%;
            }

            .new-articles > div::after{
                width: 95%;
                height: 95%;
                border: 2px solid black;
                content: '';
                position: absolute;
                left:2.5%;
                bottom:2.5%;
                overflow: hidden;
                
            }


                /* The articles description   */
                    .new-articles > div .text{
                        position: absolute;
                        display:flex;
                        flex-direction: column;
                        width: 100%;
                        height: 40%;
                        color:black;
                        bottom: 0;

                    }

                    .new-articles > div .text > div:nth-child(1){
                        display:flex;
                        flex-direction: row;
                        justify-content: space-around;
                        text-transform: uppercase;
                        text-align: left;
                    }

                    .new-articles > div .text b{
                        position: relative;
                        width: 38%;
                        height: min-content;

                    }

                    .new-articles > div .text .icons{
                        color:gray;
                        height: min-content;
                    }

                    .new-articles > div .text .icons > i{
                        position: relative;
                        display: flex;
                        width: 24px;
                        height: 24px;
                        border: 2px solid gray;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        
                    }

                    .new-articles > div .text hr{
                        position: relative;
                        margin: 10px 0 25px 1em; 
                        width:32px;
                        height:2px;
                        background-color: black;
                        border:none;
                    }

                    .new-articles > div:hover hr {
                        background-color: var(--boxes-color);
                    }
                    .new-articles > div:hover::after{
                        border-color: var(--boxes-color);
                    }

                    .new-articles > div:hover .hover-image{
                        visibility: visible;
                        transform: scale(1.1);
                    }

                    .new-articles > div .text .description{
                        width: 90%;
                        align-self: center;
                        text-align: left;
                    }

            /* Change the images to another 2 section */
                    /* #2 */
            .new-articles > div:nth-child(2){
                display: flex;
                flex-direction: column;
                position: relative;
                width: 400px;
                height: 490px;
                background-image: linear-gradient(to top,rgba(0,0,0,0) 0% 44%, rgba(0,0,0,0.9) 44%,rgba(0,0,0,0.6),rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0)),url("../Img/second-atomic.png");
                background-repeat: no-repeat;
                background-color: white;
                align-items:flex-start;
                justify-content: center;
                font-size: 18px;
                overflow: hidden;
            }

            .new-articles > div:nth-child(2) > div:nth-child(1){
                position: absolute;
                width: 100%;
                height:55%;
                top:0;
                background-image: linear-gradient(to top,rgba(0,0,0,0.9),rgba(0,0,0,0.6),rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0)),url("../Img/second-atomic.png");
                visibility: hidden;
                transition: 0.3s;
            }

            .new-articles > div:nth-child(2):hover .hover-image{
                visibility: visible;
                transform: scale(1.1);
            }

                /* #3 */

                .new-articles > div:nth-child(3){
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    width: 400px;
                    height: 490px;
                    background-image: linear-gradient(to top,rgba(0,0,0,0) 0% 44%, rgba(0,0,0,0.9) 44%,rgba(0,0,0,0.6),rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0)),url("../Img/headshot-party.png");
                    background-repeat: no-repeat;
                    background-color: white;
                    align-items:flex-start;
                    justify-content: center;
                    font-size: 18px;
                    overflow: hidden;
                }
    
                .new-articles > div:nth-child(3) > div:nth-child(1){
                    position: absolute;
                    width: 100%;
                    height:55%;
                    top:0;
                    background-image: linear-gradient(to top,rgba(0,0,0,0.9),rgba(0,0,0,0.6),rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0)),url("../Img/headshot-party.png");
                    visibility: hidden;
                    transition: 0.3s;
                }
    
                .new-articles > div:nth-child(3):hover .hover-image{
                    visibility: visible;
                    transform: scale(1.1);
                }

            
        .btn-div{
            display:flex;
            justify-content: center;
            margin-top: -1px;
            background-color: var(--body-color);
            padding-top: 3.5em;
        }

                .btn-div .btn{
                    background-color: transparent;
                    border:none;
                }

                .btn-div .btn::before{
                    display: flex;
                    white-space: nowrap;
                    text-align: center;
                    position: relative;
                    content:"Read more Stories on our news page";
                    background-color: var(--button-color);
                    padding: 0.8em 2em;
                    border-radius: 20px;
                    color:white;
                    font-family: var(--text-font-family);
                    text-transform: uppercase;
                    transition-duration: 3s;
                    width: auto;
                    height:auto;
                }

                .btn-div .btn:hover::before{
                    content: "Read more Stories on our blog";
                    text-align: center;
                    background-color: var(--button-color-hover);
                    
                }


        /* FOURTH Section */

        .fourth-section{
            background-color: var(--body-color);
            margin-top:-2px;
            position: relative;
            color:var(--text-color);
        }

        .fourth-section .title{
            position:relative;
            display:block;
            margin:auto;
            margin-top:8rem;
            width: fit-content;
            text-align: center;
        }

        .middle-blue-column-4{
            display: block;
            position:relative;
            width: 30px;
            height: 100px;
            background-color:var(--boxes-color);
            margin:auto;
            margin-top: 7rem;
        }

        .fourth-section .images{
            
            display:grid;
            grid-template-columns: repeat(6,1fr);
            gap: 30px;
            margin-top: 7rem;
            margin-bottom: 7rem;
        }

            .fourth-section .images > img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin:0;
            }

            .grid-rows-2{
                grid-row: span 2;
            }

            .fourth-section .images .btn{
                background-color: var(--button-color);
                display:flex;
                
                position: absolute;
                border:none;
                padding: 0.8em 2em;
                white-space: nowrap;
                border-radius: 20px;
                bottom:0;
                justify-self: center;
                color: var(--text-color);
                text-transform: uppercase;
                transition: 0.3s, ease-out;
            }
        
            .fourth-section .images .btn:hover{
                background-color: var(--button-color-hover);
            }
                
        /* FIFTH section */
        .middle-blue-column-5, .middle-blue-column-6{
            display: block;
            position:relative;
            width: 30px;
            height: 100px;
            background-color:var(--boxes-color);
            margin:auto;
            margin-top: 10rem;
        }

        .fifth-section{
            background-color: var(--body-color);
            margin-top:-2px;
            
        }

            .fifth-section .title{
                color:white;
                text-transform: uppercase;
                display:flex;
                position: relative;
                font-size: 73px;
                width: 80rem;
                text-align: center;
                justify-self: center;
                margin:auto;
                margin-top: 3rem;
                
            }

            .fifth-section .infos{
                display:grid;
                grid-template-columns: repeat(3,1fr);
                width: max-content;
                position:relative;
                gap: 15em;
                justify-content: center;
                margin:auto;
                margin-top: 10rem;
            }

            .fifth-section .infos > div{
                position: relative;
                width: 28rem;
                border-left: 3px solid white;
                padding-left: 2em;
            }

            

            .fifth-section .infos img{
                color:white;
                margin:0;
                position: relative;
            }
            
            .fifth-section .infos h1{
                color:var(--text-color);
                font-size: 32px;
                padding-top: 1em;
                font-weight: bold;
            }

            .fifth-section .infos .description{
                position: relative;
                color:var(--text-color);
                margin-bottom: 1.5em;
                width: 26.9rem;
                font-size: 18px;
            }

            .fifth-section .infos a{
                display:inline-flex;
                flex-wrap: nowrap;
                white-space: nowrap;
                align-items: center;
                color:var(--text-color);
                text-decoration: none;
                transform: color 0.3s;
            }

            .fifth-section .infos a:hover{
                color: var(--boxes-color);
            }

            .fifth-section .infos a svg{
                position:relative;
                transition: 0.3s;
                color:white;
                height: 23px;
                width:33px;
            }

            .fifth-section .infos a:hover  svg{
                transform: translateX(1em);
                color:var(--boxes-color);
            }


        /* SIXTH Section */
        .sixth-section{
            background-color: var(--body-color);
            display:flex;
            position: relative;
            color:var(--text-color);
            flex-direction: column;
            align-items: center;
            margin-top:-2px;
        }

        .sixth-section .title{
            font-size: 73px;
            width: 75rem;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            margin-top: 4rem;
        }

        .sixth-section .things{
            position:relative;
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 5rem;
            width: 75%;
            gap: 3rem;
            padding: 0 5rem 5rem 0;
        }

        .sixth-section .things > div{
            position:relative;
            overflow: hidden;
            z-index: 0;

        }

        

        .sixth-section .things > div::before{
            content:'';
            position:absolute;
            left:0;
            bottom:0;
            top:0;
            
            margin:auto;
            align-items: flex-end;
            justify-content: flex-start;
            
            height: 90%;
            z-index: 1;
            font-size: 40px;
            border-bottom: 3px solid var(--boxes-color);
            width: 10%;
            content:'';
            left:5%;bottom: 0;
            opacity: 1;
            transition: opacity 3s;
        }

        .sixth-section .things > div:hover::before{
           
            position:absolute;
            display:flex;
            visibility: visible;
            left:0;
            right:0;
            top:0; bottom:0;
            margin:auto;
            width: 90%;
            height: 90%;
            border: 3px solid var(--boxes-color);
            
        }

        .sixth-section .things > div img{
            position: relative;
            width:  100%;
            height: 100%;
            object-fit: cover;
            margin:0;
            transition-duration: 0.3s;
            
        } 

        .sixth-section .things > div:hover img{
            scale: 1.1;
        }

        /* RIGHT ARROW */
        .sixth-section .things > div svg{
                position:absolute;
                transition: 0.3s;
                color:white;
                height: 35px;
                width:50px;
                right: 65px;
                bottom: 50px;
                color:var(--boxes-color);
                visibility: hidden;
                opacity:0;
                transition: 0.3s, visibility 0.3s, opacity 0.3s; 
        }

        .sixth-section .things > div:hover svg{
            visibility: visible;
            opacity: 1;
            right: 40px;
        }

        .sixth-section .things > div .text{
            color: white;
            position: absolute;
            bottom: 2.1rem;
            left: 2.5rem;
            font-size: 35px;
            width: 47%;
            transition: 0.3s;
            
        }

        .sixth-section .things > div:hover .text{
            margin: 0 0 0.5rem 2rem;
        }



        


        /* FOOTER */

        footer{
            position:relative;
            bottom:0;
        }