:root{
    --body-color: #0D0D0D; 
    --text-color: #FFFFFF;
    --boxes-color: #54B3A1;
    --cookies-box-color: #000000;
    --button-color-hover: #D94016;
    --button-color: #f34213;
    --text-font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

html{
    margin:0;
    border:none;
    width: 100%;
}

body{
    border:none;
    width:100%;
    display:flex;
    position: relative;
}

.container, .container-mobile{
    width:100%;
    background-color: var(--cookies-box-color);
    margin-top: -1px;
    padding-top: 20rem;
    padding-bottom: 10rem;
    display: flex;
    color:var(--text-color);
    font-family: var(--text-font-family);
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.container-mobile{display:none;}

.container::before{
    content:'';
    
    position:absolute;
    top:0;
    border-right: 250rem solid transparent;
    border-top: 100px solid var(--body-color);
    margin-top:-2px;
}


ul{
    list-style: none;
}

ul > li{
    margin-bottom: 1rem;
    cursor:pointer;
}

.container .icons{
    display:flex;
    gap:1rem;
}

.container .icons > i{
    border: 2px solid white;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

@media screen and (max-width:750px) {
    .container{display: none;}

    .container-mobile{
        display:flex;
        align-items: flex-start;
        gap:5rem;
        padding: 10rem 5rem 2rem 2rem;
    }

    .text-icons{
        display:flex;
        width:100%;
        justify-content: space-around;
    }

    .menu > ul{
        padding:0;
    }

    .container-mobile .icons{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:1rem;
    }

    .container-mobile .icons > i{
        
        display:flex;
        border-radius: 30px;
        border: 2px solid white;
        justify-content: center;
        align-items: center;
        width:32px;
        height: 32px;
    }

}

@media screen and (max-width:550px){
    .container-mobile{
        flex-direction: column;
    }

    .text-icons{
        justify-content: space-between;
    }
}