/* Am declarat cateva variabile */
:root{
    --body-color: #0D0D0D; 
    --text-color: #FFFFFF;
    --boxes-color: #54B3A1;
    --cookies-box-color: #000000;
    --button-color-hover: #D94016;
    --button-color: #f34213;
    --text-font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

body, age-verification-body{
    display:flex;
    background-color: var(--body-color);
    align-items:center;
    justify-content: center;
    border:hidden;
    height:100vh;

}

body .container, age-verification{
    display:flex;
    position:relative;
    flex-direction:column;  
    align-items:center;
    justify-content: center;
}

/* LOGO */
body .logo-age-verification{
    position:relative;
    margin: 40px;
}

/* Propozitia de dupa logo */
body .description{
    position:relative;
    color:var(--text-color);
    font: 24px/32px Futura;
    letter-spacing: -0.12px;
    max-width:750px;
    text-align: center;
    font-size: 24px;
    font-family: var(--text-font-family);
}

body .question{
    display:flex;
    position: relative;
    color: var(--text-color);
    font-size: 32px;
    padding-top: 118px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    text-transform: uppercase;
    width:auto;
}
/* Liniuta de sub intrebare */
hr{
    width: 40px;
    height: 1px;
    background-color: var(--boxes-color);
    border:1px solid var(--boxes-color);
}

/*Un FORM pentru datele necesare, ZI LUNA AN */

.age-verification-form {
    justify-content:center;
    text-align:center;
    
}

form .form-container{
    display:flex;
    margin-left: 40px;
}

/* Am grupat cele trei elemente in cate un div (textul, inputul si backgroundul albastru) */
form .input-container{
    margin-right: 40px;
    padding-top: 80px;
}

            form .input-text{
                color:var(--text-color);
                font-family: var(--text-font-family);
                display:absolute;
                letter-spacing: 1.5px;
                margin-bottom: 15px;
                margin-left:15px;
                text-align: left;
            }
            /* Ascund sagetile de la number input */
            input::-webkit-inner-spin-button,
            input::-webkit-outer-spin-button{
                -webkit-appearance: none;
            }

            form input{
                
                position:absolute;
                background: rgba(255,255,255,0);
                border: 2px solid white;
                width: 166px;
                height: 55px;
                margin: -10px;
                margin-left: -98px;
                text-align:center;
                color:var(--text-color);
                -webkit-appearance: none;
            }

            

            form .blue-bckgrnd{
                background-color: var(--boxes-color);
                width: 176px;
                height: 60px;
            }
        
            form input:focus + .blue-bckgrnd{
                visibility: hidden;
            }
           

            /* Butonul de submit din FORM */
form button{
    width: 302px;
    height: 50px;
    margin-top: 60px;
    background-color: var(--button-color);
    color: var(--text-color);
    text-transform: uppercase;
    font-family: var(--text-font-family);
    letter-spacing: 1.5px;
    border-radius: 25px;
}
form button:hover{
    background-color: var(--button-color-hover);
}

    /* Am aranjat iconurile */

div .icons{
    position:relative;
    display: flex;
    margin-top: 198px;
    margin-bottom: 150px;
}

div .icons .fa{
    display:flex;
    width: 32px;
    height: 32px;
    border: 2px solid white;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}

div .icons i{
    margin-left: 7.5px;
    margin-right: 7.5px;
}

/* Mai jos am personalizat casuta pentru cookies */

body .cookies-msg{
    
    position:fixed;
    color:var(--text-color);
    font-family: var(--text-font-family);
    width: 942px;
    height: 100px;
    margin-top: 40px;
    background-color: var(--cookies-box-color);
    padding:3px;
    bottom:0px;
}
/* Marginea alba */
body .cookies-msg .white-border{
    display:flex;
    width: 922px;
    height: 80px;
    border: 2px solid white;
    margin: 10px;
    align-items: center;
}
/* Textul din casuta cookie */
body .cookies-msg .msg{
    position: relative;
    margin: 20px;
    font-size: 15px;
    font-family: var(--text-font-family);
}

/* Butoanele din casuta cookie */
.buttons{
    display:flex;
    flex-direction:row;

}

.buttons .accept-btn{
    width: 86px;
    height: 37px;
    text-transform: uppercase;
    background-color: var(--boxes-color);
    border-radius: 20px;
    font-size: 13px;
    color: var(--text-color);
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}


.buttons .settings-btn{
    background: rgb(255, 255, 255, 0);
    color: var(--text-color);
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    width: 150px;
    cursor: pointer;
}

/* Am adjustat marimile pentru ecrane mai mici, mobile responsive */

@media screen and (max-width: 947px){

   
    body{
        height: 100%;
    }

    .container{
        width:100%;
        height: 100%;
    }

    div .icons{
        position:fixed;
        margin:0;
        bottom:50px;
    }

    body .logo-age-verification{
        width: 126px;
        height:110px;
    }

    body .description{
        position:relative;
        font-size: 18px;
        margin: -10px 20px;
    }

    body .question{
        display:flex;
        position:relative;
        font-size: 24px;
        margin-top: -66px;
        text-align: center;
        letter-spacing: 1.1px;
    }

    form{
        margin: -50px 0px;
    }
    form label{
        display:none;
    }

    body .cookies-msg{
        position:fixed;
        display:flex;
        justify-content: center;
        width: 100%;
        height: 180px;
        bottom: 0px;
    }

    body .cookies-msg .white-border{
        position:relative;
        display:flex;
        flex-direction: column;
        height:80%;
        width: 100%;
        
    }

    body .cookies-msg .msg{
        position:relative;
        width: 90%;
        height: 100%;
        font-size: 13px;
        margin:15px 10px;
    }
    .buttons{
        position:absolute;
        
        bottom: 15px;;
        left:0;
        margin-bottom: 0px;
    }
    .buttons .accept-btn{
        margin-left: 15px;
    }

    form button{
        margin-bottom: 20px;
    }

    
}

@media screen and (max-width: 650px){

    body{
        display: block;
        width:auto;
    }

    

    .container{
        overflow:inherit;
    }

   form .form-container{
        margin: -20px -50px -15px 0px;
    }

    form .input-container{
        position:relative;
        width: 106px;
        height: 94px;
        margin: 0px 20px 0px 0px;
    }
    
    form input{
        position: absolute;
        width: 95%;
        left: -10px;
        bottom: 10px;
        margin: 0px;
        
    }

    form .blue-bckgrnd{
        width: auto;
    }

}

@media screen and (max-width: 430px){

    body{
        width: 100%;
    }

    .cookies-msg{
        display:flex;
        align-self: flex-start;
        
    }

}